<?xml version="1.0"?>
<launch>
  <arg name="uri"     default="radio://0/80/2M" />
  <arg name="frame"   default="rigid_body_1" />

  <!-- Launch crazyflie server -->
  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch"/>

  <!-- Launch keyboard node -->
  <!-- <node pkg="keyboard" type="keyboard" name="keyboard" output="screen"/> -->

  <group ns="crazyflie">
    <!--- Add target crazyflie to server -->
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri"            value="$(arg uri)" />
      <arg name="tf_prefix"      value="crazyflie" />
      <arg name="enable_logging" value="False" />
      <arg name="enable_logging_imu" value="False" />
      <arg name="enable_logging_temperature" value="False" />
      <arg name="enable_logging_magnetic_field" value="False" />
      <arg name="enable_logging_pressure" value="False" />
      <arg name="enable_logging_battery" value="False" />
      <arg name="enable_logging_packets" value="False" />
    </include>

    <!-- Start controller state interpreter -->
    <node name="key_control" pkg="trajectory_publisher" type="keyboard_control.py" output="screen">
      <param name="use_crazyflie_controller" value="False" />
      <param name="key_topic" value="/keyboard/keydown"/>
    </node>

    <node pkg="state_publisher" type="state_publisher" name="pose_pub" output="screen">
        <param name="rigid_id" value="1"/>
        <param name="ballRelative" value="False"/>
    </node>
  </group>

  <node pkg="trajectory_publisher" type="ball_follower" name="trajectory_publisher" output="screen">
      <param name="forwardPredict" value="True"/>
  </node>

  <!-- run optitrack bridge -->
  <include file="$(find optitrack)/launch/optitrack_pipeline.launch">
    <arg name="iface" value="192.168.1.7"/>
  </include>

</launch>
