<?xml version="1.0"?>
<launch>

    <arg name="uri"     default="radio://0/80/2M" />
    <arg name="frame"   default="rigid_body_1" />

    <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
    </include>

    <group ns="crazyflie">
      <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
        <arg name="uri" value="$(arg uri)" />
        <arg name="tf_prefix" value="crazyflie" />
        <arg name="enable_logging" value="True" />
        <arg name="enable_logging_imu" value="True" />
        <arg name="enable_logging_temperature" value="False" />
        <arg name="enable_logging_magnetic_field" value="True" />
        <arg name="enable_logging_pressure" value="False" />
        <arg name="enable_logging_battery" value="False" />
        <arg name="enable_logging_packets" value="False" />
      </include>

      <include file="$(find crazyflie_controller)/launch/crazyflie2.launch">
        <arg name="frame" value="$(arg frame)" />
      </include>

      <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0 0 0 0 1 $(arg frame) /crazyflie/base_link 100" />

      <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
        <param name="use_crazyflie_controller" value="True" />
      </node>

      <node pkg="state_publisher" type="state_publisher" name="pose_pub" output="screen">
          <param name="rigid_id" value="1"/>
      </node>

    </group>

    <!-- run vicon bridge -->
    <include file="$(find optitrack)/launch/optitrack_pipeline.launch">
      <arg name="iface" value="192.168.1.7"/>
    </include>

    <include file="$(find robot_localization)/launch/crazyflie_optitrack.launch"/>

</launch>
