<?xml version="1.0"?>
<launch>
  <arg name="uri"     default="radio://0/80/2M" />
  <arg name="frame"   default="rigid_body_1" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="x" default="0.088" />
  <arg name="y" default="0.32" />
  <arg name="z" default="1.2" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri)" />
      <arg name="tf_prefix" value="crazyflie" />
      <arg name="enable_logging" value="False" />
      <arg name="enable_logging_imu" value="True" />
      <arg name="enable_logging_temperature" value="False" />
      <arg name="enable_logging_magnetic_field" value="True" />
      <arg name="enable_logging_pressure" value="False" />
      <arg name="enable_logging_battery" value="False" />
      <arg name="enable_logging_packets" value="False" />
    </include>

    <!-- Start controller state interpreter -->
    <node name="key_control" pkg="trajectory_publisher" type="keyboard_control.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="key_topic" value="/keyboard/keydown"/>
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie2.launch">
      <arg name="frame" value="$(arg frame)" />
    </include>

    <node name="pose" pkg="crazyflie_demo" type="publish_pose.py" output="screen">
      <param name="name" value="goal" />
      <param name="rate" value="30" />
      <param name="x" value="$(arg x)" />
      <param name="y" value="$(arg y)" />
      <param name="z" value="$(arg z)" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0 0 0 0 1 $(arg frame) /crazyflie/base_link 100" />
  </group>

  <!-- run vicon bridge -->
  <include file="$(find optitrack)/launch/optitrack_pipeline.launch">
    <arg name="iface" value="192.168.1.7"/>
  </include>

  <!-- run rviz -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro.py $(find crazyflie_description)/urdf/crazyflie.urdf.xacro" /> -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find crazyflie_demo)/launch/crazyflie_pos.rviz" required="true" /> -->

</launch>
